body {
  background-color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

button:hover {
  background-color: skyblue;
}
.submit {
  text-decoration: none;
  color: black;
}
.Form {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.paper-form {
  background-color: rgb(0, 247, 255);
  padding-top: 20px;
  padding: 50px;
  border: 4px dashed black;
}
input,
label {
  display: block;
  margin-bottom: 5px;
}
.gender-pick {
  margin-bottom: 75px;
}
.submit-button {
  width: 100%;
}

.box-form {
  background-color: rgb(0, 247, 255);
  display: inline-block;
  padding: 10px 30px;
  border: 4px dashed black;
}
